numpy
protobuf==3.20.0
tensorboardX==1.9
gym==0.15.4
requests
wandb
ply
imageio
tqdm
h5py
pandas
colorlog
progressbar
torch==1.8.1
torchvision==0.9.1
opencv-python
graphviz==0.19.1
pygifsicle==1.0.7
scipy==1.5.4
